<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://kit.fontawesome.com/266f5b79a0.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="cont-header">
            <div class="top-header">
                <img class="logo" src="images\logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <form method="GET" action="/">
            <div>
            <input type='text' placeholder="Buscar" class="buscador"> 
            <button><i class="fas fa-search"></i></button>
            </div> 
        </form> 
        </div>  
            <div class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>     
        </div> 
        <div class="navbar">
            <div class="nav">
                <ul>
                    <item><li><a href="">Ofertas</a></li></item>
                    <item><li><a href="">Tiendas Oficiales</a></li></item>
                    <item><li><a href="">Vender</a></li></item>
                    <item><li><a href="">Ayuda</a></li></item>
                </ul>
            </div>
            <div>
                <li class="botonHome"><a href="http://localhost:3030">Home</a><i class="fas fa-home"></i></li>
            </div>
            <div class="login">
                <ul>
                    <li><a href="\register.html">Creá tu cuenta</a><i class="far fa-id-card"></i></li>            
                    <li><a href="login.html">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>                                    
                    <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>                                    
                </ul>
            </div>
    </div>     
        <div class="cont-burger-menu">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>

<img class="banner" src='images\img-home-banner.jpg' alt="home-banner">

    <main>
        <h3>Basado en tu última visita</h3>
        <section class="ultima-visita">      
               
        <article class="product">
            <img class="imagen-products" src='images\img-cafetera-moulinex.jpg' >
            <div class="info">
                <i class="fas fa-truck"></i>
                <div class="pre-des">
                    <p class="precios">$6.770</p>
                    <p class="des-des">40% OFF</p>
                </div>                
                <p class="nombre">Cafetera Moulinex</p>
            </div> 

        </article>

        <article class="product">
            <img class="imagen-products" src='images\img-macbook-pro-2019.jpg' >
            <div class="info">
            <i class="fas fa-truck"></i>
            <div class="pre-des">
        <p class="precios">$230.000</p>
        <p class="des-des"> 20% off</p>
    </div>  
        <p class="nombre">MacBook Pro 2019</p>
    </div>  
        </article>

        <article class="product">
            <img class="imagen-products" src='images\img-samsung-galaxy-s10.jpg' >
            <div class="info">
            <i class="fas fa-truck"></i>
            <div class="pre-des">
        <p class="precios">$70.500</p>
        <p class="des-des">10% off</p>
    </div>
        <p class="nombre">Samsung Galaxy S10</p>
    </div>
        </article>
        
        <article class="product">
        <img class="imagen-products" src='images\img-tv-samsung-smart.jpg' >
        <div class="info">
        <i class="fas fa-truck"></i>
        <div class="pre-des">
        <p class="precios">$23.200</p>
        <p class="des-des">5% off</p>
    </div>
        <p class="nombre">Samsung 43"</p>
    </div>
        </article>

</section>

        <h3>Sección de Ofertas</h3>
        <section class="ofertas">         
           
            <article class="product">
                <img class="imagen-products" src='images\buzo-nike.jpg' >
                <div class="info">
                <i class="fas fa-truck"></i>
                <div class="pre-des">
                <p class="precios">$7.999</p>
                <p class="des-des">30% OFF</p>
            </div>
                <p class="nombre">Buzo Nike</p>
            </div>            
            </article>
            
            <article class="product">
                <img class="imagen-products" src='images\audis-philips.jpg' >
                <div class="info">
                <i class="fas fa-truck"></i>
                <div class="pre-des">
                <p class="precios">$22.000</p>
                <p class="des-des"> 20% off</p>
            </div>
                <p class="nombre">Auriculares Philips</p>
            </div>
            </article>
    
            <article class="product">
                <img class="imagen-products" src='images\iphone-11.jpg' >
                <div class="info">
                <i class="fas fa-truck"></i>
                <div class="pre-des">
                <p class="precios">$240.500</p>
                <p class="des-des">10% off</p>
            </div>
                <p class="nombre">Iphone 11</p>
            </div>   
            </article>
                    
            <article class="product">
                <img class="imagen-products" src='images\siila-aureon.jpg' >
                <div class="info">
                <i class="fas fa-truck"></i>
                <div class="pre-des">
                <p class="precios">$32.200</p>
                <p class="des-des">5% off</p>
            </div>
                <p class="nombre">Gezatek Silla Gamer Aureox G400</p>
            </div>
            </article>
        </section>
    </main>
<footer>
        <div class="icono-footer">
            <div class="icon-footer">
                <i class="fas fa-credit-card"></i>
            </div>
            
        <div class="description-footer">
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        </div>
        
        <div class="icono-footer">
            <div class= "icon-footer">
                <i class="fas fa-gift"></i>
            </div>
            
            <div class="description-footer">
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                products. Es un beneficio de Mercado Puntos.
                </p>
            </div>
        </div>
    
    <div class="icono-footer">
        <div class= "icon-footer">
            <i class="fas fa-user-shield"></i>
         </div>
     
         <div class="description-footer">
             <h4>Seguridad, de principio a fin</h4>
             <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
             porque estás siempre protegid@.</p>
         </div>
    </div>
       
</footer>
<p class="footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L. </p> 
</body>
</html>
